$blue : #00f;

$brand-primary : $blue;
$brand-danger : #f00;
$brand-warning : #ff0;

$code-color: $brand-primary;
$code-bg: lighten($code-color,40);

$headings-color: lighten($brand-primary,20);

$link-color: $brand-primary;
$link-hover-color: lighten($link-color,10);

$body-bg:lighten($brand-primary,40);

$helvetica : "Helvetica Neue", Helvetica, Arial, sans-serif;
$futurarennerregular : 'futurarennerregular', $helvetica;
$futurarennerlight : 'futurarennerlight', $helvetica;
$headings-font-family: $futurarennerregular;