@import "compass/reset";
@import "compass/css3/border-radius";
@import "variables.scss";
@import "bootstrap";
@import "bootstrap/glyphicons";
@import "fonts";

img{
  max-width: 100%;
}

.site{
  background: #fff;
}

.li-tick{
  &:before{
    @extend .glyphicon;
    font-size:1em;
    margin: 0 .25em 0 0;
    color:$brand-primary;
  }
  @extend .glyphicon-minus;
}

.news{
  @include clearfix;
  li{
    @extend .li-tick;
  }
  /*
  li{
    @include clearfix;
    &:hover{
      color:$brand-primary;
      time,em{
        border-color:$brand-primary;
      }
      a{
        color:#000;
      }
      em,time,.description{
        background: transparentize($brand-primary,.8);
      }
    }
    margin: 0 0 1em 0;
  }
  a{
    text-decoration: none;
    font-size:3rem;
    line-height: .5em;
    display: block;
    clear: both;
  }
  li,a,time,em,p{
    float:left;
    clear: both;
  }
  time{
    display: inline-block;
    border-top: solid 2px #000;
    font-family: $futurarennerregular;
  }
  em{
    font-family: $futurarennerlight;
    padding: 0 0 .15em;
    border-bottom: solid 2px #000;
  }
  .description{
    clear: both;
    font-family: $font-family-monospace;
  }
  */
}

footer{
  background:lighten($brand-primary,40);
  font-family: $font-family-monospace;
  font-size:1.25rem;
  @include border-top-radius($border-radius-small);
  margin: 10vh 0 0;
  padding:$padding-base-vertical $padding-base-horizontal 5vh;
  p{
    margin: 0;
  }
  a{
    background: #fff;
    padding: $padding-xs-vertical $padding-xs-horizontal;
    @include border-radius($border-radius-small);
  }
}

video{
  width:100%;
  height:auto;
}

em{
  color:lighten($gray-base,50);
}

.post{
  &-{
    &title,
    &date{
      margin: 0;
      display: inline-block;
    }
    &title{
      margin: 0 .25em 0 0;
    }
    &date{
      color:lighten($brand-primary,40);
    }
    &meta{
      &,a{
        color:lighten($brand-primary,40);
      }
    }
    &category{
      display: inline-block;
      a{
        background: $brand-primary;
      }
    }
    &description{
      margin: 0;
    }
    &nav{
      .prev{
        float:right;
        i{
          margin: 0 0 0 .25em ;
        }
      }
      .next{
        float:left;
        i{
          margin: 0 .25em 0 0;
        }
      }
      @include clearfix;
    }
  }
  .last-news{
    color:$brand-primary;
  }
  article{
    li{
      li{
        margin: 0 0 0 $padding-large-horizontal*2;
      }
      @extend .li-tick
    }
  }
}