
<base href="{{site.url}}">

<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.url}}/feed.xml" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="{{site.url}}/css/screen.css" media="all" rel="stylesheet" type="text/css" />
<link href="{{site.url}}/css/print.css" media="print" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="site container">