{% include head.html %}

        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>

{% include body.html %}

        <header>
            <h1><a href="{{site.url}}/">{{ site.name }}</a></h1>
                <h4>{{ site.description }}</h4>
            <hr />
        </header>

            <div class="row">
                <div class="col col-md-4 col-news">
                    <h2 class="h1">Journal de bord</h2>
                    <ul class="news">

                        {% for post in site.posts %}

                        <li>
                            <a href="{{ post.url }}" title="{{ post.description }}"><time>{{ post.date | date: '%Y-%d-%m' }}</time> <em>{{ post.title }}</em></a>
                            <div class="description">{{ post.description }}</div>
                        </li>

                        {% endfor %}

                    </ul>
                </div>
                <div class="col col-md-8 pull-right">
                    <img class="h1" src="images/20-04-2017/IMG_5112.jpg" alt="F93" />
                </div>
        </div>

        <main>

            <article>
                {{ content }}
            </article>

        </main>

{% include footer.html %}
