<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} | {{ page.description }}</title>

    <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}"/>
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.authors }}{% endif %}"/>

    <base href="{{site.url}}">

    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{{site.url}}/css/screen.css" media="all" rel="stylesheet" type="text/css" />
    <link href="{{site.url}}/css/print.css" media="print" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="site container">

    <header>
        <h3 class="h1"><a href="{{site.url}}/">{{ site.name }}</a></h3>
        <h4>{{ site.description }}</h4>
        <hr />
    </header>

    <nav>

    </nav>

    <main class="post">

        <div class="post-header">

            <nav>
                <div class="post-nav">
                    {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}<i class="glyphicon glyphicon-chevron-right"></i></a>
                    {% endif %}

                    {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}"><i class="glyphicon glyphicon-chevron-left"></i>{{page.next.title}}</a>
                    {% else %}
                    <span class="next last-news"><i class="glyphicon glyphicon-star"></i>Ce sont les dernières nouvelles !</span>
                    {% endif %}
                </div>
            </nav>

            <div class="post-title-wrapper">
                <h1 class="post-title">{{ page.title }}</h1>
                <h2 class="post-date h1">{{ page.date | date : "%Y-%m-%d" }}</h2>
            </div>
            <div class="post-meta">
                <p class="post-description">{{ page.description }}</p>
                <ul>
                    {% for category in page.categories %}
                    <li class="post-category">{{category}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <article>
            {{ content }}
        </article>

    </main>



    <footer>
        <p>Le projet est soutenu par <a href="http://f93.fr">F93</a> et le <a href="https://cg93.fr">conseil général de Seine-Saint-Denis</a></p>
        <p>Distribué sous <a href="/LICENSE">license GPL-3.0</a> — <time>{{ site.time | date: '%Y' }}</time> — {{ site.authors }}</p>
    </footer>

</div>

<script src="{{site.baseurl}}/js/main.js"></script>
</body>

</html>
