{% include head.html %}

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} | {{ page.description }}</title>

    <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}"/>
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.authors }}{% endif %}"/>

{% include body.html %}

    <header>
        <h3 class="h1"><a href="{{site.url}}/"><span class="icon-logo-polyptyque"></span>{{ site.name }}</a></h3>
        <h4>{{ site.description }}</h4>
        <hr />
    </header>

    <nav>

    </nav>

    <main class="post">

        <div class="post-header">

            <nav>
                <div class="post-nav">
                    {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}<i class="glyphicon glyphicon-chevron-right"></i></a>
                    {% endif %}

                    {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}"><i class="glyphicon glyphicon-chevron-left"></i>{{page.next.title}}</a>
                    {% else %}
                    <span class="next last-news"><i class="glyphicon glyphicon-star"></i>Ce sont les dernières nouvelles !</span>
                    {% endif %}
                </div>
            </nav>

            <div class="post-title-wrapper">
                <h1 class="post-title">{{ page.title }}</h1>
                <h2 class="post-date h1">{{ page.date | date : "%Y-%m-%d" }}</h2>
            </div>
            <div class="post-meta">
                <p class="post-description">{{ page.description }}</p>
                <ul>
                    {% for category in page.categories %}
                    <li class="post-category">{{category}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <article>
            {{ content }}
        </article>

    </main>

{% include footer.html %}
